.block {
  max-width: 100%;
  border: 1px solid #838383;
  padding: 20px;
  border-radius: 12px;
  transition: box-shadow 0.5s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 10px 2px #838383;
  }

  &__header {
    width: 100%;
    position: relative;
    input {
      width: 97%;
      height: 40px;
      padding: 5px 15px;
    }

    &_btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 10px;
      transform: translateY(-50%);
      top: 50%;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        width: 35px;
        height: 35px;
        background-color: initial;
        border: none;
        cursor: pointer;

        &:hover {
          border: 1px solid #8f8f8f;
          border-radius: 50%;
        }

        SVG {
          stroke-width: 150px;
        }
      }
    }
  }
  &__main {
  }
  &__footer {
  }
}

.toolTip {
  display: flex;
  // top: -5px;
  // left: 32px;
  height: 48px;
  padding: 4px;
  background-color: #a7a5a5;
  color: inherit;
  align-items: center;
}
