.block {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
  border: 1px solid #838383;
  padding: 20px;
  border-radius: 12px;
  transition: box-shadow 0.5s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 10px 2px #838383;
  }

  &__header {
  }
  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
  }
}

.toolTip {
  display: flex;
  position: fixed;
  height: 48px;
  padding: 4px;
  background-color: #a7a5a5;
  color: inherit;
  align-items: center;
  z-index: 999999999;
}
