.block {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #585858;
  height: 20px;
  padding: 15px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
  width: 100%;

  &:hover {
    box-shadow: inset 0px 0px 4px 5px #5078faa6;
    transform: translateY(-12px);
    border: 1px solid #5078fa;
    cursor: pointer;
    a,
    input {
      box-shadow: none;
      transform: none;
      border: none;
    }
  }
  a {
    display: inline-block;
    width: 100%;
  }

  input {
    cursor: pointer;
  }

  &_active {
    background-color: #585858;

    a {
      text-decoration: line-through;
    }
  }
}
