.container {
  position: relative;
  display: flex;
  width: max-content;
}

.toolTip {
  display: block;
  max-width: 200px;
  width: max-content;
  position: absolute;
  padding: 4px 12px;
  margin-top: calc(-10%);
  transform: translateX(-100%);
  justify-content: center;
  color: #ffffff;
  background-color: #ff8e00;
  border-radius: 12px;
  text-align: center;
  white-space: pre-line;
  font-weight: 700;
  pointer-events: none;
}
