.block {
  display: flex;
  column-gap: 20px;
  padding-bottom: 5px;

  border-bottom: 1px solid rgb(66, 66, 66);
  cursor: pointer;

  label {
    width: 100%;
    cursor: pointer;
  }

  &__status {
    text-decoration: line-through;
  }
}
